body{
    background-color: #242424;
    color: #d1cbcb;
    font-family: sans-serif;
}

.container{
    display: flex;
    width: 30%;
    margin: 5% auto;
}

.grid{
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: #31BC99; */
    background-color: rgb(48,48,48);
    box-shadow: 2px 2px 5px #5a575780,
    inset 5px 5px 8px #2b252580;
}

.grid div{
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    background-color: 1px solid #303030;
}

.tetromino{
    background-color: #376056;
    border: 1px solid #303030;
    /* background-color: #7BE5CB; */
}

.score-panel{
    margin-left: 50px;
    
}

.mini-grid{
    width: 80px;
    height: 80px;
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(48,48,48);
    box-shadow: 2px 2px 5px #5a575780,
    inset 5px 5px 8px #2b252580;
}

.mini-grid div{
    height: 20px;
    width: 20px;
    box-sizing: border-box;
  
}

#score {
    display: block;
    font-size: 1.5rem;
    background-color: rgb(48,48,48);
    padding: 8px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px #5a575780,
    inset 5px 5px 8px #2b252580;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 22px;
    font-size: 1rem;
    background-color: #30942d;
    color: white;
}

@media only screen and (max-width: 600px) {
    .container{
        display: block;
        width: 30%;
        margin: 5% auto;
    }
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .hidden {
      display: none;
  }